body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

canvas {
    border: 1px solid white;
}

.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: red;
}

#message h1 {
    font-size: 40px;
}

#replayBtn {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#homeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}